
/* Remnant colours*/
:root{
    --remnant-darkred: #a7001a ;
    --remnant-red: #d70000;
    --remnant-white: #ffffff;
    --remnant-black: #050505;
}

/* Background and body */

body{
    margin: 0;
    overflow: hidden;
    background: var(--remnant-white);
}

/*This is where we are saying that the video feed is not directly shown*/

#video{
    display: none;
}


/*This is showing that the texture isnt displayed as is so it can be implemented into the js/ selfie segmentation*/
#texture{
    display: none;
}

#canvas{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Mirror effect for the webcam  - this may not be relevant - need to check */
.mirror{
    position: relative;
    width: 100vw;
    height: 100vh;
}


/* The overlay*/

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

/* Styling the title*/
.title{
    position: absolute;
    bottom: 120px;
    width: 100%;
    text-align: center;
    color: var(--remnant-white);
    font-family: 'Terminal Grotesque', sans-serif;
    font-size: 60px;
    margin: 0;
}

/* Styling the qr code and placing it in the top right*/
.qr{
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 145px;
    height: auto;
}

/* Styling the logo and placing it in the top left*/
.logo {
    position: absolute;
    bottom: 140px;
    right: 20px;
    width: 150px;
}

/* Terminal Grotesque, the title font used for Remnant */
@font-face {
    font-family: 'Terminal Grotesque';
    src: url(fonts/terminal-grotesque-webfont.woff)(format('woff')),
         url(fonts/terminal-grotesque-webfont.woff2)(format('woff2'));

    font-weight: normal;
    font-style: normal ;
}





