*{
    box-sizing: border-box;
    margin: 0;
}

/* Remnant colours*/
:root{
    --remnant-darkred: #a7001a ;
    --remnant-red: #d70000;
    --remnant-white: #ffffff;
    --remnant-black: #050505;
}

/* Mirror effect for the webcam */

.mirror{
    position: relative;
    width: 100vw;
    height: 100vh;
}

/**/


